.body,
.wrapper {
  /* Break the flow */
  position: absolute;
  top: 0px;

  /* Give them all the available space */
  width: 100%;
  height: 100%;

  /* Remove the margins if any */
  margin: 0;

  /* Allow them to scroll down the document */
  overflow-y: hidden;
}

.body {
  /* Sending body at the bottom of the stack */
  z-index: 1;
}

.wrapper {
  /* Making the wrapper stack above the body */
  z-index: 2;
}

#board{
		font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
		font-size:40px;
		font-weight: bold;
		color: #776e65; 
}
#board table{
	border-spacing: 10px;
	background-color: #bbada0;
	margin: auto;


}
#board  td {
	width: 100px;
	height: 100px;
	text-align: center;
	/*background-color: #eee4da; */


}
